<!-- 
<button (click)="toLogin()">login</button>
<button (click)="toRegister()">register</button>
<button (click)="logOut()">log out</button>
<button (click)="toCourses()">all courses</button> -->

<!-- <div class="container">
    <div class="btn-group mt-3">
      <button class="btn btn-purple" (click)="toLogin()"><span>Login</span></button>
      <button class="btn btn-purple" (click)="toRegister()"><span>Register</span></button>
      <button class="btn btn-purple" (click)="logOut()"><span>Log out</span></button>
      <button class="btn btn-purple" (click)="toCourses()"><span>All Courses</span></button>
    </div>
  </div> -->
  <div class="btn-group">
    <button class="btn btn-purple btn-lg" (click)="toLogin()">Login</button>
    <button class="btn btn-purple btn-lg" (click)="toRegister()">Register</button>
    <button class="btn btn-purple btn-lg" (click)="logOut()">Log out</button>
    <button class="btn btn-purple btn-lg" (click)="toCourses()">All Courses</button>
    <button class="btn btn-purple btn-lg" (click)="addCourse()">Add Course</button>

  </div>

  
  
  
  


